<div class='footer'>
	<small>
		<%= link_to "One Month Rails", "http://onemonthrails.com" %>
		by <%= link_to "Christopher Cannata", "http://www.linkedin.com/in/christophercannata" %>
	</small>
</div>